<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row">
  <div *ngFor="let car of cars" class="col-md-4">
<div class="card" style="width: 18rem;">
  <img *ngFor="let image of image" src="{{imageBasePath}}{{image.imagePath}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{car.name}}  {{car.dailyPrice}}₺</h5>
    <p class="card-text">{{car.description}}</p>
    <a routerLink="/Car/Detail/{{car.id}}" class="btn btn-primary">İncele</a>
  </div>
</div>
</div>
</div>
